@import 'tailwindcss';
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  mix-blend-mode: screen;
}

@font-face {
  font-family: Inter;
  src:
    local('Inter'),
    url('@/shared/fonts/Inter.woff2') format('woff2'),
    url('@/shared/fonts/Inter.ttf') format('truetype');
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0 16px;
}
